body{
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ccffff;
}

#main_nav{
    background-color: white;
}

a{
    text-decoration: none;
    color: #000;
}

#nav{
    color: #000;
    height: 50px;
    margin-left: 75px;
    position: relative;
}

#nav li{
    display: inline-block;
    position: relative;
    line-height: 50px;
    padding: 0 15px;
}

#nav li:hover{
    background-color: #ccc;
    border-radius: 10px;
    height: 100%;
}

#nav > li:hover #footer{
    display: block;
}

#footer{
    background-color: #fb5800;
    height: 3px;
    text-align: center;
    top: -15px;
    position: relative;
    width: 100%;
    display: none;
}

#nav li:hover .subnav{
    display: block;
}

#nav .subnav{
    display: none;
    margin-left: -15px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    position: absolute;
}

#nav .subnav li{
    display: block;
    padding: 0 10px;
    
}