body {
    display: block;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    /* Ngăn cuộn ngang toàn bộ trang */

}

* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica" sans-serif;
    box-sizing: border-box;
}

section {
    margin: 150px 0px;
}

/* nav bar */
.header-container {
    display: flex;
    flex-direction: column;
    /* border-bottom: 1px solid #000000; */
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    /* Đảm bảo thanh điều hướng nằm trên các phần tử khác */
}

#main_nav {
    background: linear-gradient(rgb(255, 255, 255), rgb(154, 219, 233));
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}

#main_nav a {
    text-decoration: none;
    color: #000;
    padding: 10px 10px;

    font-size: 20px;
    font-weight: 700;

    white-space: nowrap;
}

#nav_button {
    padding: 10px 10px;
    font-size: 17px;
}

#nav_button:hover {
    background-color: #c2c0c0;
    border-radius: 5px;
}

#nav {
    color: #000;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 12%;
}

#lang_button {
    background-color: rgba(red, green, blue, 0);
}

#login_register {
    display: flex;
    justify-content: space-between;

    gap: 10px;
}


#nav>li:hover #footer {
    display: block;
}

#footer {
    background-color: #fb5800;
    height: 3px;
    text-align: center;
    top: -15px;
    position: relative;
    width: 100%;
    display: none;
}

#nav li:hover .subnav {
    display: block;
}


#login,
#register {
    padding: 10px 10px;
}

#nav_button #login {
    color: #fff;
    border-radius: 15px;
}

/* footer */

footer {
    display: flex;
}

.footer {
    margin-top: auto;
    width: 100%;
    padding: 32px 0;
    background: #000000;
    color: #efefef;
    display: flex;
    position: relative;
}

.footer div h3 {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 16px;
    position: relative;
    z-index: 2;
}

.blank {
    flex: 1;
    text-align: left;
    flex-basis: 15%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.blank .footer-home {
    display: flex;
    margin-top: 16px;
    margin-bottom: 16px;
    justify-items: center;
}

.blank .footer-home a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    font-size: 40px;
    border-radius: 50%;
    background: transparent;
    border: #ffffff 4px solid;
    color: #b7b7b7;
    margin: 0 0.4rem;
    transition: .6s;
}

.blank .footer-home a:hover {
    color: #969696;
    background: #dad7d7;

}

.col-1 {
    flex: 1;
    text-align: left;
    flex-basis: 25%;

}

.col-1 p {
    text-align: bottom;
    font-size: 1.1rem;

}

.col-1 h3 {
    display: inline-block;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-family: 'raleway', sans-serif;
    font-style: italic;
    letter-spacing: 2.5px;
}

.col-1 .footer-search input {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 60%;
    padding: 8px 16px;
    border-radius: 12px;
    border: 2px solid #bad1db;
    outline: none;
    margin-right: 16px;
    color: #ffffff;
    background-color: transparent;

}

.col-1 .footer-search ::placeholder {
    color: #ffffff;
}

.col-2 h3 {
    display: inline-block;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.col-2 {
    flex: 1;
    text-align: left;
    flex-basis: 25%;
}

.col-2 a {
    text-decoration: none;
    color: #efefef;
    display: block;
    margin-bottom: 10px;

}

.col-2 span {
    line-height: 2;
    font-size: 1.1rem;
}

.col-2 .social-icons {
    display: flex;
    margin-top: 16px;
    justify-content: left;
    align-items: center;

}

.col-2 .social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.3rem;
    border-radius: 50%;
    background: transparent;
    border: #ffffff 2px solid;
    color: #b7b7b7;
    margin: 0 0.4rem;
    transition: .6s;

}

.col-2 .social-icons a:hover {
    color: #969696;
    background: #dad7d7;
}

.col-3 {
    flex: 1;
    text-align: left;
    flex-basis: 35%;
}

.col-3 .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-3 .gallery img {
    width: calc(100% / 3 - 20px);
    height: 96px;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px;
    transition: 0.3s;
}

/* Voucher */
#voucher {
    /* background-color: rgb(228, 245, 246); */
    padding: 50px 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#voucher h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 800;
}

#vou {
    display: flex;
    gap: 150px;
    flex-direction: column;
    margin-top: 80px;
}

.vou_detail {
    display: flex;
    justify-content: space-between;
    background: #c0c0aa;
    background: -webkit-linear-gradient(to right, #6ee9f2 5%, #fb800c 95%);
    background: linear-gradient(to right, #0c34a2 5%, #fb800c 95%);

    margin: 0px auto;
    align-items: center;
    width: 70%;
    height: 150px;

    border: 2px solid rgb(201, 109, 4);
    border-radius: 8px;
}

#vou h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;

    width: 230px;
    padding: 16px 60px;
}

.list_vou {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
    width: 75%;
}

.list_vou a {
    width: 35%;
}

.vou_entity {

    width: 190px;
    height: 240px;
    line-height: 30px;
    background-color: #fff;

    border: 2px solid rgb(60, 60, 70);
    border-radius: 5px;

    box-shadow: 5px 5px #424242;
    cursor: pointer;
}

.vou_entity:hover {
    width: 200px;
}


#voucher .list_vou img {
    width: 100%;
    height: 114px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

#voucher .list_vou .expire_vou {
    background-color: #0a8bb2;
    text-align: center;
}


#voucher .list_vou .inf {
    margin-left: 10px;
}

#voucher .list_vou p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

#voucher a {
    text-decoration: none;
    color: #000;
}

.swiper-container {
    background-color: rgba(160, 215, 236, 0.815);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 48px 16px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.swiper-container h3 {
    color: rgb(0, 0, 0);
    font-size: 48px;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 16px 64px;
    gap: 8px;
    margin: 0 auto;
    /* Căn giữa nếu cần */

}

.grid-item {
    text-align: center;
    width: 100%;
    /* Chiều rộng bằng 1/4 của phần tử cha */
    aspect-ratio: 16 / 9;
    box-sizing: border-box;
}

.grid-item img {
    width: 100%;
    height: 100%;
    /* Đảm bảo tỉ lệ hình ảnh không bị biến dạng */
    border-radius: 8px;
    /* Bo góc cho hình ảnh */
    object-fit: cover;
    margin: 0;
    box-shadow: 4px 4px 10px 0 rgba(255, 255, 255, 0.7);
}


.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size)/ 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    --swiper-navigation-color: rgb(0, 0, 0);
}

/* Đổi màu pagination sang trắng */
.swiper-container .swiper-pagination-bullet {
    background-color: rgb(0, 0, 0) !important;
    /* Đổi màu các bullet */
}

.swiper-container .swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: rgba(221, 221, 221, 0.7) !important;
    /* Đổi màu nền khi hover */
    box-shadow: 0 6px 15px rgba(221, 221, 221, 0.7);
    /* Bóng mạnh hơn khi hover */
    transform: scale(1.1);
    /* Tăng kích thước nút khi hover */
}

/* Danh sách địa điểm */
.listVistedPlace {
    padding: 10px;
    margin-top: 30px;
    width: 100%;
    border: #964B00 2px solid;
    display: flex;
    justify-content: space-between;
}

.framePlace {
    margin-top: 30px;
    margin: 20px;
    border: #000000 2px solid;
    border-radius: 5px;
    /* Bo góc cho khung nhỏ */
}

@media (max-width: 768px) {
    #vou {
        flex-direction: column;
        align-items: center;
        gap: 100px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #vou h3 {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        line-height: 40px;

        width: 150px;
        padding: 16px;
    }

    .vou_detail {
        width: 90%;
        margin-bottom: 20px;
    }

    .list_vou {
        width: 80%;
    }

    .vou_entity {
        max-width: 30%;

    }

    .vou_entity:hover {
        max-width: 32%;
    }

    .footer {
        display: flex;
        flex-direction: column;
    }

    .footer .col-1,
    .footer .col-2,
    .footer .col-3 {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .footer .footer-home a {
        width: 80px;
        height: 80px;
        font-size: 40px;
    }

    .footer .footer-search input {
        width: 50%;
    }

    .footer .social-icons {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .swiper-container {
        aspect-ratio: 3 / 4;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        /* 2 cột cho màn hình nhỏ hơn */
        padding: 16px 16px;
    }

    .swiper-container h3 {
        font-size: 36px;
        /* Thay đổi kích thước chữ cho h3 */
    }
}

/* Responsive cho màn hình nhỏ hơn 480px */
@media (max-width: 640px) {
    #vou {
        flex-direction: column;
        align-items: center;
        gap: 100px;
        width: 100vw;
    }

    #vou h3 {
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        line-height: 40px;

        width: 170px;
        padding: 16px;
    }

    .vou_detail {
        width: 98%;
        margin-bottom: 20px;
    }

    .list_vou {
        width: 80%;
    }

    .vou_entity {
        max-width: 30%;

    }

    .vou_entity:hover {
        max-width: 35%;
    }
}

@media (max-width: 480px) {
    .swiper-container h3 {
        font-size: 24px;
    }
}