body {
    height: 100%;
    margin: 0;
    overflow-x: hidden; /* Ngăn cuộn ngang toàn bộ trang */
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; /* Đúng chính tả */
    box-sizing: border-box;
}

#container {
    background-color: rgb(228, 245, 246);
    height: 100%;
}

.swiper-container {
    background-color: rgba(0, 0, 0);
    width: 100%;
    height: 100%;
    padding: 48px 16px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.swiper-container h3 {
    color: white;
    font-family: "Garamond", Serif;
    font-size: 48px;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 16px 64px;
    gap: 8px;
    margin: 0 auto; /* Căn giữa nếu cần */

}

.grid-item {
    text-align: center;
    width: 100%; /* Chiều rộng bằng 1/4 của phần tử cha */
    aspect-ratio: 16 / 9;
    box-sizing: border-box;
}

.grid-item img {
    width: 100%; 
    height: 100%; /* Đảm bảo tỉ lệ hình ảnh không bị biến dạng */
    border-radius: 8px; /* Bo góc cho hình ảnh */
    object-fit: cover; 
    margin: 0;
    box-shadow: 4px 4px 10px 0 rgba(255, 255, 255, 0.7);
}

.swiper-button-next,
.swiper-button-prev {
    color: #ffffff !important;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5) !important;
    padding: 4px !important; /* Giảm padding để nút nhỏ hơn */
    display: block !important; /* Đảm bảo hiển thị */
    border-radius: 50% !important; /* Đảm bảo nút có hình tròn */
    --swiper-navigation-size: 24px;
    margin: 0px; /* Khoảng cách giữa các nút */
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.1s ease; /* Thêm hiệu ứng chuyển đổi cho transform */

}

/* Đổi màu pagination sang trắng */
.swiper-pagination-bullet {
    background-color: white !important; /* Đổi màu các bullet */
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: rgba(221, 221, 221, 0.7) !important; /* Đổi màu nền khi hover */
    box-shadow: 0 6px 15px rgba(221, 221, 221, 0.7); /* Bóng mạnh hơn khi hover */
    transform: scale(1.1); /* Tăng kích thước nút khi hover */
}

@media (max-width: 768px) {
    .swiper-container {
        aspect-ratio: 3 / 4;
    }
    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* 2 cột cho màn hình nhỏ hơn */
        padding: 16px 16px;
    }
    .swiper-container h3 {
        font-size: px; /* Thay đổi kích thước chữ cho h3 */
    }
}
