#titleProfile p {
    font-size: 15px;
}

#titleProfile a {
    color: #778088;


    text-decoration: none;
    font-size: 15px;
}

.divider {
    width: 2px;
    /* Độ rộng của đường kẻ dọc */
    background-color: #F4F4F5;
    /* Màu của đường kẻ */
    height: auto;
    /* Chiều cao tự động để chiếm toàn bộ chiều cao của section */
}

#titleProfile {
    margin-left: 40px;
    margin-top: 8px;
    margin-bottom: 8x;
    background-color: white;
}

#titleProfile h3 {
    margin-bottom: 8px;
}

#titleProfile p {
    margin-top: 0px;
    margin-bottom: 8px;
}

#viewProfile {
    position: relative;
    background-color: #b3cde0;
    /* Thêm màu nền */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 32px;
    padding-bottom: 32px;
}


#selectProfile {
    flex: 3;
    background-color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-right: 8px;
    align-items: center;
}

#selectProfile .over-profile {
    position: relative;
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#selectProfile .over-profile .profile-image-container {
    position: relative;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

#selectProfile .over-profile .location-birthday {
    display: flex;
    margin-top: 12px;

}

#selectProfile .over-profile .location-birthday p {
    font-size: 14px;
    margin-left: 4px;
}

#selectProfile .over-profile .location-birthday img {
    object-fit: contain;
    margin: 0px;
}

.over-profile .profile-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
    object-fit: cover;
}

.over-profile .edit-icon {
    position: absolute;
    bottom: 5px;
    /* Điều chỉnh khoảng cách từ đáy */
    right: 5px;
    /* Điều chỉnh khoảng cách từ phải */
    width: 40px;
    height: 40px;
}

.over-profile p {
    font-size: 24px;
    color: #1C2B38;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#selectProfile .list-select {
    flex: 7;
    padding: 10px;
    margin: 10px;
    margin-top: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#selectProfile .list-select .list-select-content {
    padding: 20px;
    margin-bottom: 18px;
    font-size: 16px;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
}

#selectProfile .list-select .list-select-content:focus {
    background-color: #b3cde0;
    color: white;


}

#contentProfile {
    flex: 7;
    background-color: #fff;
    /* Màu nền cho phần tử này */
}

#checkProfile {
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
}


#checkProfile h4 {
    font-size: 20px;
    margin-bottom: 0px;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    text-align: left;
}

.content .field-label {
    margin-bottom: 18px;
    margin-top: 18px;
}

.content .field-label label {
    display: block;
    /* Đặt nhãn trên một dòng riêng */
    color: #1C2B38;
    margin-bottom: 8px;
    /* Khoảng cách giữa nhãn và ô input */
}

.content .value {
    width: 100%;
    background-color: #F4F4F5;
    /* Màu xám nhạt */
    padding: 16px;
    padding-left: 12px;
    border: none;
    border-radius: 4px;
    color: #495560;
}

.content .value:focus {
    outline: none;
    /* Loại bỏ viền khi nút được chọn */
}

.save-container {
    margin-top: 20px;
    margin-bottom: 20px;
    /* Khoảng cách giữa thông tin và nút */
    display: flex;
    justify-content: flex-start;
}

.save-button {
    width: 280px;
    padding: 10px 20px;
    background-color: #b3cde0;
    /* Màu nền xanh */
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save-button:hover {
    background-color: rgba(179, 205, 224, 0.7);
    /* Màu mờ với độ trong suốt 0.5 */
}

.type-booking {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.type-booking h2 {
    font-size: 1.5em;
}

.type-booking select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.tabs {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    border-bottom: 2px solid #e5e5e5;
}

.tabs button {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #555;
}

.tabs .active {
    color: #b3cde0;
    border-bottom: 3px solid #b3cde0;
}

.booking-card {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.booking-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 15px;
}

.booking-info {
    flex: 1;
}

.booking-info h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
    margin-left: 10px;
}

.booking-info p {
    color: #888;
    font-size: 0.9em;
    margin-bottom: 5px;
}

.check-info {
    display: flex;
    justify-content: space-around;
    font-size: 0.8em;
    color: #555;
}

.check-info div {
    text-align: center;
}



@media (max-width: 768px) {
    #viewProfile {
        flex-direction: column;
        /* Chuyển hướng flex thành dọc khi màn hình nhỏ */
        padding-left: 20px;
        /* Điều chỉnh padding để tiết kiệm không gian */
        padding-right: 20px;
    }

    .divider {
        height: 2px;
        /* Đổi đường kẻ dọc thành ngang */
        width: auto;
    }
}