*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-- end reset --*/

#loginPage {
    background: #011f4b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #011f4b, #cccccc);
    background: -moz-linear-gradient(to top, #011f4b, #cccccc);
    background: -o-linear-gradient(to top, #011f4b, #cccccc);
    background: linear-gradient(to top, #011f4b, #cccccc);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

#loginPage h1 {
    font-size: 3em;
    text-align: center;
    color: #011f4b;
    font-weight: 100;
    text-transform: capitalize;
    letter-spacing: 4px;
    font-family: 'Roboto', sans-serif;
}

/*-- main --*/
#loginPage .main-w3layouts {
    padding: 3em 0 1em;
}

#loginPage .main-agileinfo {
    width: 35%;
    margin: 3em auto;
    background: rgba(255, 255, 255, 1);
    background-size: cover;
}

#loginPage .agileits-top {
    padding: 3em;
}

#loginPage input[type="text"], 
input[type="email"], 
input[type="password"] {
    font-size: 0.9em;
    color: #011f4b;
    font-weight: 100;
    width: 94.5%;
    display: block;
    border: none;
    padding: 0.8em;
    border: solid 1px #011f4b;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #011f4b 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #011f4b 4%);
    background-position: -800px 0;
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}

#loginPage input.email, input.text.w3lpass {
    margin: 2em 0;
}

#loginPage .text:focus, .text:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
}

#loginPage .text:focus::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.7);
    font-size: .9em;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    visibility: visible !important;
}

#loginPage ::-webkit-input-placeholder {
    color: #011f4b;
    font-weight: 100;
}

#loginPage :-moz-placeholder {
    /* Firefox 18- */
    color: #011f4b;
}

#loginPage ::-moz-placeholder {
    /* Firefox 19+ */
    color: #011f4b;
}

#loginPage :-ms-input-placeholder {
    color: #011f4b;
}

#loginPage input[type="submit"] {
    font-size: .9em;
    color: #fff;
    background: #011f4b;
    outline: none;
    border: 1px solid #011f4b;
    cursor: pointer;
    padding: 0.9em;
    -webkit-appearance: none;
    width: 100%;
    margin: 2em 0;
    letter-spacing: 4px;
}

#loginPage input[type="submit"]:hover {
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
    background: #6497b1;
}

#loginPage .agileits-top p {
    font-size: 1em;
    color: #011f4b;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 300;
}

#loginPage .agileits-top p a {
    color: #011f4b;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    font-weight: 400;
}

#loginPage .agileits-top p a:hover {
    color: #011f4b;
}

/*-- //main --*/
/*-- checkbox --*/
#loginPage .wthree-text label {
    font-size: 0.9em;
    color: #011f4b;
    font-weight: 200;
    cursor: pointer;
    position: relative;
}

#loginPage input.checkbox {
    background: #fff;
    cursor: pointer;
    width: 1.2em;
    height: 1.2em;
}

#loginPage input.checkbox:before {
    content: "";
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    background: inherit;
    cursor: pointer;
}

#loginPage input.checkbox:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 1;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #011f4b;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}

#loginPage input.checkbox:checked:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: .5rem;
    border-color: #011f4b;
    border-top-color: transparent;
    border-right-color: transparent;
}

#loginPage .anim input.checkbox:checked:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: .5rem;
    border-color: transparent;
    border-right-color: transparent;
    animation: .4s rippling .4s ease;
    animation-fill-mode: forwards;
}

@keyframes rippling {
    50% {
        border-left-color: #011f4b;
    }

    100% {
        border-bottom-color: #011f4b;
        border-left-color: #011f4b;
    }
}

/*-- //checkbox --*/
/*-- copyright --*/
#loginPage .colorlibcopy-agile {
    margin: 2em 0 1em;
    text-align: center;
}

#loginPage .colorlibcopy-agile p {
    font-size: .9em;
    color: #fff;
    line-height: 1.8em;
    letter-spacing: 1px;
    font-weight: 100;
}

#loginPage .colorlibcopy-agile p a {
    color: #fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

#loginPage .colorlibcopy-agile p a:hover {
    color: #000;
}

/*-- //copyright --*/
#loginPage .wrapper {
    position: relative;
    overflow: hidden;
}

#loginPage .colorlib-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#loginPage .colorlib-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.15);
    bottom: -160px;
    -webkit-animation: square 20s infinite;
    -moz-animation: square 250s infinite;
    -o-animation: square 20s infinite;
    -ms-animation: square 20s infinite;
    animation: square 20s infinite;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    -ms-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

#loginPage .colorlib-bubbles li:nth-child(1) {
    left: 10%;
}

#loginPage .colorlib-bubbles li:nth-child(2) {
    left: 20%;
    width: 80px;
    height: 80px;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    -ms-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 17s;
    -moz-animation-duration: 17s;
    -o-animation-duration: 17s;
    animation-duration: 17s;
}

#loginPage .colorlib-bubbles li:nth-child(3) {
    left: 25%;
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    -o-animation-delay: 4s;
    -ms-animation-delay: 4s;
    animation-delay: 4s;
}

#loginPage .colorlib-bubbles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    -webkit-animation-duration: 22s;
    -moz-animation-duration: 22s;
    -o-animation-duration: 22s;
    -ms-animation-duration: 22s;
    animation-duration: 22s;
    background-color: rgba(255, 255, 255, 0.25);
}

#loginPage .colorlib-bubbles li:nth-child(5) {
    left: 70%;
}

#loginPage .colorlib-bubbles li:nth-child(6) {
    left: 80%;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -o-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s;
    background-color: rgba(255, 255, 255, 0.2);
}

#loginPage .colorlib-bubbles li:nth-child(7) {
    left: 32%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 7s;
    -moz-animation-delay: 7s;
    -o-animation-delay: 7s;
    -ms-animation-delay: 7s;
    animation-delay: 7s;
}

#loginPage .colorlib-bubbles li:nth-child(8) {
    left: 55%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 15s;
    -moz-animation-delay: 15s;
    animation-delay: 15s;
    -webkit-animation-duration: 40s;
    -moz-animation-duration: 40s;
    animation-duration: 40s;
}

#loginPage .colorlib-bubbles li:nth-child(9) {
    left: 25%;
    width: 10px;
    height: 10px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
    background-color: rgba(255, 255, 255, 0.3);
}

#loginPage .colorlib-bubbles li:nth-child(10) {
    left: 90%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 11s;
    animation-delay: 11s;
}

@-webkit-keyframes square {
    0% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-700px) rotate(600deg);
        -moz-transform: translateY(-700px) rotate(600deg);
        -o-transform: translateY(-700px) rotate(600deg);
        -ms-transform: translateY(-700px) rotate(600deg);
        transform: translateY(-700px) rotate(600deg);
    }
}

@keyframes square {
    0% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-700px) rotate(600deg);
        -moz-transform: translateY(-700px) rotate(600deg);
        -o-transform: translateY(-700px) rotate(600deg);
        -ms-transform: translateY(-700px) rotate(600deg);
        transform: translateY(-700px) rotate(600deg);
    }
}

/*-- responsive-design --*/
@media(max-width:1440px) {

    #loginPage input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: 94%;
    }
}

@media(max-width:1366px) {
    #loginPage h1 {
        font-size: 2.6em;
    }

    #loginPage .agileits-top {
        padding: 2.5em;
    }

    #loginPage .main-agileinfo {
        margin: 2em auto;
    }

    #loginPage .main-agileinfo {
        width: 36%;
    }
}

@media(max-width:1280px) {
    #loginPage .main-agileinfo {
        width: 40%;
    }
}

@media(max-width:1080px) {
    #loginPage .main-agileinfo {
        width: 46%;
    }
}

@media(max-width:1024px) {
    #loginPage .main-agileinfo {
        width: 49%;
    }
}

@media(max-width:991px) {
    #loginPage h1 {
        font-size: 2.4em;
    }

    #loginPage .main-w3layouts {
        padding: 2em 0 1em;
    }
}

@media(max-width:900px) {
    #loginPage .main-agileinfo {
        width: 58%;
    }

    #loginPage input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: 93%;
    }
}

@media(max-width:800px) {
    #loginPage h1 {
        font-size: 2.2em;
    }
}

@media(max-width:736px) {
    #loginPage .main-agileinfo {
        width: 62%;
    }
}

@media(max-width:667px) {
    #loginPage .main-agileinfo {
        width: 67%;
    }
}

@media(max-width:600px) {
    #loginPage .agileits-top {
        padding: 2.2em;
    }

    #loginPage input.email,
    input.text.w3lpass {
        margin: 1.5em 0;
    }

    #loginPage input[type="submit"] {
        margin: 2em 0;
    }

    #loginPage h1 {
        font-size: 2em;
        letter-spacing: 3px;
    }
}

@media(max-width:568px) {
    #loginPage .main-agileinfo {
        width: 75%;
    }

    #loginPage .colorlibcopy-agile p {
        padding: 0 2em;
    }
}

@media(max-width:480px) {
    #loginPage h1 {
        font-size: 1.8em;
        letter-spacing: 3px;
    }

    #loginPage .agileits-top {
        padding: 1.8em;
    }

    #loginPage input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: 91%;
    }

    #loginPage .agileits-top p {
        font-size: 0.9em;
    }
}

@media(max-width:414px) {
    #loginPage h1 {
        font-size: 1.8em;
        letter-spacing: 2px;
    }

    #loginPage .main-agileinfo {
        width: 85%;
        margin: 1.5em auto;
    }

    #loginPage .text:focus,
    .text:valid {
        background-position: 0 0px;
    }

    #loginPage .wthree-text ul li,
    .wthree-text ul li:nth-child(2) {
        display: block;
        float: none;
    }

    #loginPage .wthree-text ul li:nth-child(2) {
        margin-top: 1.5em;
    }

    #loginPage input[type="submit"] {
        margin: 2em 0 1.5em;
        letter-spacing: 3px;
    }

    #loginPage input[type="submit"] {
        margin: 2em 0 1.5em;
    }

    #loginPage .colorlibcopy-agile {
        margin: 1em 0 1em;
    }
}

@media(max-width:384px) {
    #loginPage .main-agileinfo {
        width: 88%;
    }

    #loginPage .colorlibcopy-agile p {
        padding: 0 1em;
    }
}

@media(max-width:375px) {
    #loginPage .agileits-top p {
        letter-spacing: 0px;
    }
}

@media(max-width:320px) {
    #loginPage .main-w3layouts {
        padding: 1.5em 0 0;
    }

    #loginPage .agileits-top {
        padding: 1.2em;
    }

    #loginPage .colorlibcopy-agile {
        margin: 0 0 1em;
    }

    #loginPage input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: 89.5%;
        font-size: 0.85em;
    }

    #loginPage h1 {
        font-size: 1.7em;
        letter-spacing: 0px;
    }

    #loginPage .main-agileinfo {
        width: 92%;
        margin: 1em auto;
    }

    #loginPage .text:focus,
    .text:valid {
        background-position: 0 0px;
    }

    #loginPage input[type="submit"] {
        margin: 1.5em 0;
        padding: 0.8em;
        font-size: .85em;
    }

    #loginPage .colorlibcopy-agile p {
        font-size: .85em;
    }

    #loginPage .wthree-text label {
        font-size: 0.85em;
    }

    #loginPage .main-w3layouts {
        padding: 1em 0 0;
    }
}

/* Căn giữa logo */
#loginPage .logo {
    text-align: center;
    /* Thêm khoảng cách dưới logo */
}

/* Căn giữa logo và phóng to */
#loginPage .logo img {
    display: block;
    /* Đảm bảo hình ảnh là block để căn giữa */
    margin: 0 auto;
    /* Căn giữa hình ảnh */
    width: 300px;
    /* Đặt kích thước rộng hình ảnh */
    height: auto;
    /* Tự động điều chỉnh chiều cao dựa trên tỉ lệ của chiều rộng */
    margin-top: 10px;
}

#loginPage input.text,
#loginPage input.email {
    margin-bottom: 20px;
    /* khoảng cách phía dưới mỗi ô nhập liệu */
}

#loginPage .divider {
    margin: 0 8px;
    /* Khoảng cách ngang cho dấu gạch đứng */
    color: #011f4b;
    /* Màu của dấu gạch đứng */
}



#loginPage .role-selection {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    gap: 40px;
}

#loginPage .role-card {
    width: 264px;
    border: 2px solid #03396c;
    padding: 20px;
    height: 230px;
    text-align: center;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

#loginPage .role-card:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
    /* Làm sáng phần tử khi hover */
}

#loginPage .role-card h3 {
    margin: 8px;
    font-size: 1.2em;
    color: #03396c;
}

#loginPage .role-card p {
    color: #555;
    font-size: 1em;
    text-align: justify;
}

/* Wrapper cho button custom */
#loginPage .custom-button-wrapper {
    position: fixed;
    /* Dùng fixed để nó cố định ở vị trí góc trái */
    top: 10px;
    /* Khoảng cách từ trên */
    left: 10px;
    /* Khoảng cách từ trái */
    z-index: 10;
    /* Đảm bảo nó nằm trên các phần tử khác */
    margin-top: 80px;
}

/* Cấu hình cho link */
#loginPage .custom-button-wrapper .link_wrapper {
    display: flex;
    align-items: center;
    text-decoration: none;
}

/* Cấu hình cho button (link) */
#loginPage .custom-button-wrapper .link_wrapper a {
    display: block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    background: #03396c;
    /* Màu xanh đậm */
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid #03396c;
    /* Màu xanh đậm */
    transition: all .35s;
    border-radius: 5px;
    /* Để có góc bo tròn */
}



/* Hiệu ứng hover cho link */
#loginPage .custom-button-wrapper a:hover {
    width: 150px;
    border: 3px solid #03396c;
    /* Màu xanh đậm hơn */
    background: transparent;
    color: #03396c;
    /* Màu xanh đậm hơn */
}

/* Hiệu ứng hover cho icon */
#loginPage .custom-button-wrapper a:hover+.icon {
    border: 3px solid #03396c;
    /* Màu xanh đậm hơn */
    right: -25%;
}

@media (max-width: 768px) {
    #loginPage .role-selection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #loginPage .custom-button-wrapper .link_wrapper a {
        width: 40px;
        padding: 0;
        text-transform: none;
        font-size: 0;
        /* Ẩn text */
    }

    /* Chuyển mũi tên về trái */
    #loginPage .custom-button-wrapper .link_wrapper a:before {
        content: '\2190';
        /* Mã ký tự Unicode cho mũi tên trái */
        font-size: 30px;
        text-align: center;
        display: block;
    }

    /* Sửa icon mũi tên về phía trái */
    #loginPage .custom-button-wrapper .icon {
        right: auto;
        left: 0;
        transform: rotate(0deg);
    }

    /* Hiệu ứng hover cho icon */
    #loginPage .custom-button-wrapper a:hover+.icon {
        right: auto;
        left: -25%;
    }

}